body{
    margin: 0px;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3399CC;
}
.header h1{
    letter-spacing: 1px;
    padding-left: 34px;
    margin: 0px;
    font-family: Century Gothic;
    font-size: 54px;
    color: white;
    font-weight: 500;
}
.active{
    background-color: #FF9900;
    color: black;
}
ul{
    margin: 0px;
    background-color: black;
    display: inline-flex;
    list-style: none;
    padding-left: 24px;
}
ul li{
    font-size: 17px;
    padding: 8px;
    font-weight: bold;
    color: white;
    font-family: monospace;
    letter-spacing: 1.5px;
}
.navbar ul li:last-child{
    position: absolute;
    right: 0%;
}
ul li a{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
li a:hover{
    background-color: #FF9900;
}
.logo{
    padding-top: 6px;
    padding-bottom: 0px;
}
.description h2{
    font-family: Century Gothic;
    font-size: 28px;
    font-weight: 500;
    padding-left: 56px;
    color: #464646;
}
.description p{
    width: 960px;
    padding-bottom: 24px;
    padding-left: 56px;
    color: black;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin-bottom: 24px;
    font-family: Calibri Light;
}
.careers_form{  
    padding-left: 56px;
    margin-top: 24px;
}
.form_labels{
    padding:8px;
    font-weight: bold;
    font-family: calibri light;
    margin: 20px;
    padding-right: 5em;
}
.form_labels_desiredrole{
    padding:8px;
    font-weight: bold;
    font-family: calibri light;
    margin: 20px;
    padding-right: 2em;
}
.form_inputs{
    margin-left: 1px; 
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 2px solid #a6aaaf;
}
.form_input_email{
    /* margin-left: 90px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 2px solid #a6aaaf;
}
.form_input{
    margin-left: 2px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 2px solid #a6aaaf;
}
.form_labels_uploadfile{
    padding:11px;
    font-weight: bold;
    font-family: calibri light;
    margin-left: 17px;
    padding-right: 1em;
}
.form_input_field{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.submitbtn{
    margin-top: 10px;
    margin-left: 12.5em;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 42px;
    font-family: calibri light;
    border: 2px solid #a6aaaf;
}
.file_upload{
    display: none;
    border-radius: 1px;
    border: red;
}
.btn_browse{
    font-weight: bold;
    margin-top: 10px; 
    padding-right: 20px;
    border: 2px solid #a6aaaf;
    font-family: calibri light;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}
.container{
    width: 100%;
}
.navbar{
    width: 100%;
    background-color: black;
}
.spn_filepath{
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 2px solid #a6aaaf;
}
.input_filepath{
    border: 1px solid red;
}
.file_upload_fields{
    display: flex;
}
.inputfield_1{
    display: flex;
}
