body{
    margin: 0px;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3399CC;
}
.header h1{
    letter-spacing: 1px;
    padding-left: 34px;
    margin: 0px;
    font-family: Century Gothic;
    font-size: 54px;
    color: white;
    font-weight: 500;
}
.active{
    background-color: #FF9900;
}
ul{
    margin: 0px;
    background-color: black;
    display: inline-flex;
    list-style: none;
    padding-left: 24px;
    /* width: 100%; */
}
ul li{
    font-size: 17px;
    padding: 8px;
    font-weight: bold;
    color: white;
    font-family: monospace;
    letter-spacing: 1px;
}
.navbar ul li:last-child{
    float: right;
}
ul li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    /* color: black; */
}
li a:hover{
    background-color: #FF9900;
}
.logo{
    padding-top: 6px;
    padding-bottom: 0px;
}
.description h2{
    font-family: Century Gothic;
    font-size: 28px;
    font-weight: 500;
    padding-left: 56px;
    color: #464646;
}
.description p{
    width: 960px;
    padding-left: 56px;
    color: black;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-family: Calibri Light;
}
.careers_form{  
    padding-left: 56px;
}
.form_labels{
    padding:10px;
    font-weight: bold;
    font-family: calibri light;
}
.form_inputs{
    margin-left: 88px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 1px solid black;
}
.form_input{
    margin-left: 41px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 1px solid black;
}
.form_input_field{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.submitbtn{
    margin-top: 10px;
    margin-left: 152px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 42px;
    font-family: calibri light;
    border: 1px solid black;
}
.file_upload{
    display: none;
    border-radius: 1px;
    border: red;
}
.btn_browse{
    font-weight: bold;
    padding-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-right: 16px;
    border: 1px solid black;
    font-family: calibri light;
    font-weight: bold;
}
.container{
    width: 100%;
}
.navbar{
    width: 100%;
    background-color: black;
}
.spn_filepath{
    padding-left: 10px;
    padding-right: 5px;
    font-family: calibri light;
    font-weight: bold;
}
/* input[type="file"]{
    opacity: 0;
     display: none; 
} */